<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BOOK</title>
</head>
<body>
    <% book.forEach((books)=>{%>
        <p>Title:<%=books.title%></p>
        <h1>Summary:<%=books.summary%></h1>
        <h2>Pages:<%=books.pages%></h2>
        <h2>Publication:<%=books.publication%></h2>
        <h2>CoverImage:<%=books.coverImage%></h2>
        <a href="/users/<%=books.id%>">
            <button>MORE</button>
        </a>
        <a href="/users/<%=books.id%>/edit">
            <button>EDIT</button>
        </a>
        <a href="/users/<%=books.id%>/delete">
            <button>DELETE</button>
        </a>
    <%})%>
</body>
</html>